body {
  background-color: #008891;
}

hr {
  border-style: dotted none none;
  border-color: #e7e7de;
  width: 5%;
  border-width: 5px;
}

h1 {
  color: #e7e7de;
}

h3 {
  color: #e7e7de;
}
